{
  "openapi": "3.0.1",
  "info": {
    "title": "Exposure API Reference",
    "description": "![RedBee](https://redbee-fsly-vod.cdn.redbee.live/imagescaler002/redbee/redbeetv/configimages/d04bb721-fb45-4f9e-9216-9c3a219ef322.png?format=webp&h=50)\n\n### Red Bee Media Pulse Exposure API \n\n#### Authentication\n\nMany endpoints require an `Authorization` header:\n\n`Authorization: Bearer <sessionToken> `\n\nIn the **Swagger UI**,  use the **green Authorize** function below to set the session token.\n\nThe `<sessionToken>` is acquired using one of the Login or Session creation endpoints in the [Authentication](#/Authentication) resource section.\n\nIn some endpoints an API-key is required in the `EMP-Auth` header.\n\n`EMP-Auth: Basic <keyId:keySecret>` \n\n`<keyId:keySecret>` is to be Base64Encoded\n\nAPI keys can be created using the customer portal: [https://redbee.live/portal](https://redbee.live/portal).\n\nOlder API keys can also be used in the same way as previous.\n\n#### Data formats\n\nRequest and response bodies are always JSON encoded.\n\nIn request and response bodies, dates and times are ISO 8601 encoded, e.g. `2022-02-22T22:22:22+00:00`, while in query parameters epoch millis are used.\n\n#### Customer and Business Unit\n\nMost endpoints requires `customer` and `businessUnit` in the path. You can instantiate this documentation for a specific customer and businessUnit using this8 URL:\n\n[https://exposure.api.redbee.live/docs/customer/{customer}/businessunit/{businessUnit}/](https://exposure.api.redbee.live/docs/customer/{customer}/businessunit/{businessUnit}/)\n\n#### Eventsink\n\nThe endpoints to report Player analytics events are found here: [https://eventsink.api.redbee.live/docs](https://eventsink.api.redbee.live/docs).\n\n#### Other documentation   \n\nGeneral information of the service can be found at [https://redbee.live/docs/](https://redbee.live/docs/).\n"
  },
  "servers": [
    {
      "url": "https://exposure.api.redbee.live",
      "description": "Production"
    }
  ],
  "paths": {
    "/docs/api-docs/{api}": {
      "get": {
        "tags": [
          "open api"
        ],
        "summary": "Get API definition",
        "description": "[OpenApi 3](https://www.openapis.org/) specification of this API",
        "operationId": "getApiDocs",
        "parameters": [
          {
            "name": "api",
            "in": "path",
            "description": "Select API",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "exposure",
                "management"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/config/{fileId}/origin/{host}": {
      "get": {
        "tags": [
          "customerconfig"
        ],
        "summary": "Gets a JSON configuration file.",
        "description": "Uses the host parameter to figure out the business unit.",
        "operationId": "getConfigFileCustomDomainInPath",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The file to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "host",
            "in": "path",
            "description": "The host that will be mapped to a business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentMethodPreview",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiConfigFile"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/asset/{assetId}/mrss": {
      "get": {
        "tags": [
          "mrss"
        ],
        "summary": "Get MRSS for a customer",
        "description": "Retrieve MRSS for a customer with optional parameters.",
        "operationId": "getMRssForCu",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "description": "The asset ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session",
            "in": "query",
            "description": "The session parameter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "useAds",
            "in": "query",
            "description": "Whether to use ads",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "useBumper",
            "in": "query",
            "description": "Whether to use a bumper",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "materialId",
            "in": "query",
            "description": "The material ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/asset/{assetId}/mrss": {
      "get": {
        "tags": [
          "mrss"
        ],
        "summary": "Get MRSS for a specific business unit",
        "description": "Retrieve MRSS for a specific business unit with optional parameters.",
        "operationId": "getMRssForBu",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "description": "The asset ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session",
            "in": "query",
            "description": "The session parameter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "useAds",
            "in": "query",
            "description": "Whether to use ads",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "useBumper",
            "in": "query",
            "description": "Whether to use a bumper",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "materialId",
            "in": "query",
            "description": "The material ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/auth/anonymous": {
      "post": {
        "tags": [
          "anonymous login"
        ],
        "summary": "Creates an anonymous session.",
        "description": "Use the v2 version.",
        "operationId": "anonymousSessionV1",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAnonymousSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAnonymousSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAnonymousSessionResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/auth/login": {
      "post": {
        "tags": [
          "authentication"
        ],
        "summary": "Login with username and password.",
        "description": "Use v3 version",
        "operationId": "loginV1",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiLoginRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiLoginResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "delete": {
        "tags": [
          "authentication"
        ],
        "summary": "Log out.",
        "operationId": "logout_1",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true,
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/auth/session": {
      "get": {
        "tags": [
          "authentication"
        ],
        "summary": "Please use v2 version.",
        "operationId": "validateSessionToken_1",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSessionResponse"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "bearer-key": []
          }
        ]
      },
      "post": {
        "tags": [
          "authentication"
        ],
        "summary": "replaced by v2 post /auth/externalusersession",
        "operationId": "session",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EMP-Auth",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiCreateSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCreateSessionResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/config/{fileName}": {
      "get": {
        "tags": [
          "customerconfig"
        ],
        "summary": "Get a configuration file.",
        "operationId": "getConfigFile",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentMethodPreview",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiConfigFile"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "Unknown business unit": {
                    "description": "Unknown business unit",
                    "value": "{\"message\"=\"UNKNOWN_BUSINESS_UNIT\"}"
                  },
                  "File not found": {
                    "description": "File not found",
                    "value": "{\"message\"=\"FILE_NOT_FOUND\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/asset": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Lists assets.",
        "description": "Main endpoint for listing/searching for assets. Make sure that calls to this endpoint are called with a limited set of parameter permutations to allow responses to be served from a cache.",
        "operationId": "getAssets",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "MOVIE",
                "TV_SHOW",
                "EPISODE",
                "CLIP",
                "TV_CHANNEL",
                "AD",
                "LIVE_EVENT",
                "COLLECTION",
                "PODCAST",
                "PODCAST_EPISODE",
                "EVENT",
                "OTHER"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "The optional query to filter by. In the elasticsearch query string query format, I.E: \"tagsIds:action AND localized.en-us.title:armageddon\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "parentalRatings",
            "in": "query",
            "description": "The parental rating filter in the format of COUNTRY:RATING,COUNTRY:RATING2",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "maximum": 200,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "playableWithinHours",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowedCountry",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deviceType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "WEB",
                "MOBILE",
                "TABLET",
                "APPLE_TV",
                "SMART_TV",
                "CONSOLE",
                "STB"
              ]
            }
          },
          {
            "name": "deviceQuery",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publicationQuery",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "products",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "missingFieldsFilter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "programsOnChannelIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeTvShow",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "publicationStartsWithinDays",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "publicationEndsWithinDays",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fieldSet",
            "in": "query",
            "description": "Field set to return.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "PARTIAL",
              "enum": [
                "NONE",
                "PARTIAL",
                "ALL"
              ]
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "description": "Comma separated list of field names to include in response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "description": "Comma separated list of field names to exclude from response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAssetList"
                }
              }
            }
          },
          "400": {
            "description": "User error.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "Invalid query.": {
                    "description": "Invalid query.",
                    "value": "{\"message\"=\"INVALID_QUERY\"}"
                  },
                  "Unknown business unit": {
                    "description": "Business unit not found.",
                    "value": "{\"message\"=\"UNKNOWN_BUSINESS_UNIT\"}"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "Unknown business unit": {
                    "description": "Unknown business unit",
                    "value": "{\"message\"=\"UNKNOWN_BUSINESS_UNIT\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/asset/{assetId}": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Get an asset by asset id or slug.",
        "operationId": "getAsset",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeEpisodes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeSeasons",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "allowedCountry",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentalRatings",
            "in": "query",
            "description": "The parental rating filter in the format of COUNTRY:RATING,COUNTRY:RATING2",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldSet",
            "in": "query",
            "description": "Field set to return.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ALL",
              "enum": [
                "NONE",
                "PARTIAL",
                "ALL"
              ]
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "description": "Comma separated list of field names to include in response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "description": "Comma separated list of field names to exclude from response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAsset"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "Unknown business unit": {
                    "description": "Unknown business unit",
                    "value": "{\"message\"=\"UNKNOWN_BUSINESS_UNIT\"}"
                  },
                  "Asset not found": {
                    "description": "Asset not found",
                    "value": "{\"message\"=\"UNKNOWN_ASSET\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/asset/{assetId}/collectionentries": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Get the entries of a collection.",
        "operationId": "getCollectionEntries",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "description": "Collection id. Slugs supported.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowedCountry",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "products",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "deviceType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "WEB",
                "MOBILE",
                "TABLET",
                "APPLE_TV",
                "SMART_TV",
                "CONSOLE",
                "STB"
              ]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldSet",
            "in": "query",
            "description": "Field set to return.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "PARTIAL",
              "enum": [
                "NONE",
                "PARTIAL",
                "ALL"
              ]
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "description": "Comma separated list of field names to include in response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "description": "Comma separated list of field names to exclude from response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAssetList"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "Unknown business unit": {
                    "description": "Unknown business unit",
                    "value": "{\"message\"=\"UNKNOWN_BUSINESS_UNIT\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/asset/{assetId}/next": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Get the next episode of a tv show.",
        "operationId": "getNextEpisode",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAsset"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "Unknown business unit": {
                    "description": "Unknown business unit",
                    "value": "{\"message\"=\"UNKNOWN_BUSINESS_UNIT\"}"
                  },
                  "No next episode.": {
                    "description": "No next episode.",
                    "value": "{\"message\"=\"NO_EPISODE_FOUND\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/asset/{assetId}/previous": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Get the previous episode of a tv show.",
        "operationId": "getPreviousEpisode",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAsset"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "Unknown business unit": {
                    "description": "Unknown business unit",
                    "value": "{\"message\"=\"UNKNOWN_BUSINESS_UNIT\"}"
                  },
                  "No previous episode.": {
                    "description": "No previous episode.",
                    "value": "{\"message\"=\"NO_EPISODE_FOUND\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/asset/{assetId}/season": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Get seasons of a tv show.",
        "operationId": "getSeasonsForTvShow",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeEpisodes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldSet",
            "in": "query",
            "description": "Field set to return.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "PARTIAL",
              "enum": [
                "NONE",
                "PARTIAL",
                "ALL"
              ]
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "description": "Comma separated list of field names to include in response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "description": "Comma separated list of field names to exclude from response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSeasonList"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "Unknown business unit": {
                    "description": "Unknown business unit",
                    "value": "{\"message\"=\"UNKNOWN_BUSINESS_UNIT\"}"
                  },
                  "Unknown season": {
                    "description": "Unknown season",
                    "value": "{\"message\"=\"UNKNOWN_SEASON\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/asset/{assetId}/season/{season}": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Get a season of a tv show.",
        "operationId": "getSeason",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldSet",
            "in": "query",
            "description": "Field set to return.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ALL",
              "enum": [
                "NONE",
                "PARTIAL",
                "ALL"
              ]
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "description": "Comma separated list of field names to include in response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "description": "Comma separated list of field names to exclude from response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSeason"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "Unknown business unit": {
                    "description": "Unknown business unit",
                    "value": "{\"message\"=\"UNKNOWN_BUSINESS_UNIT\"}"
                  },
                  "Unknown season": {
                    "description": "Unknown season",
                    "value": "{\"message\"=\"UNKNOWN_SEASON\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/asset/{assetId}/season/{season}/episode": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Get episodes for a season.",
        "operationId": "getEpisodes",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season",
            "in": "path",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldSet",
            "in": "query",
            "description": "Field set to return.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "PARTIAL",
              "enum": [
                "NONE",
                "PARTIAL",
                "ALL"
              ]
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "description": "Comma separated list of field names to include in response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "description": "Comma separated list of field names to exclude from response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAssetList"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "Unknown business unit": {
                    "description": "Unknown business unit",
                    "value": "{\"message\"=\"UNKNOWN_BUSINESS_UNIT\"}"
                  },
                  "Unknown season": {
                    "description": "Unknown season",
                    "value": "{\"message\"=\"UNKNOWN_SEASON\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/asset/{assetId}/thumbnail": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Get a thumbnail for an asset.",
        "description": "The thumbnail will be generated from the video belonging to the asset and based on  provided time.  This endpoint will always return a 307 redirect to another url where the thumbnail is actually available.",
        "operationId": "getAssetThumbnail",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "The time to use when creating the thumbnail. It can have two different formats. It can be a wall clock time like '2021-02-02T10:53:35.400Z'. This assumes that the asset has a wall clock time. It can also be a duration, like PT30M20S, and then it will be used as an actual time in th video.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "w",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "h",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful."
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "Unknown business unit": {
                    "description": "Business unit not found.",
                    "value": "{\"message\"=\"UNKNOWN_BUSINESS_UNIT\"}"
                  },
                  "Asset not found": {
                    "description": "Asset not found",
                    "value": "{\"message\"=\"UNKNOWN_ASSET\"}"
                  },
                  "Invalid duration": {
                    "description": "The provided time is not a valid duration.",
                    "value": "{\"message\"=\"INVALID_TIME_DURATION\"}"
                  },
                  "Invalid wall time clock time": {
                    "description": "The provided time is not a valid wall clock time.",
                    "value": "{\"message\"=\"INVALID_TIME_WALL_CLOCK\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/asset/{collectionId}/collectionentries/{referenceEntryId}/next": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Get the next entry of a collection.",
        "operationId": "getNextCollectionEntry",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referenceEntryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowedCountry",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "products",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "deviceType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "WEB",
                "MOBILE",
                "TABLET",
                "APPLE_TV",
                "SMART_TV",
                "CONSOLE",
                "STB"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAsset"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "Unknown business unit": {
                    "description": "Unknown business unit",
                    "value": "{\"message\"=\"UNKNOWN_BUSINESS_UNIT\"}"
                  },
                  "No next entry found.": {
                    "description": "No next entry found.",
                    "value": "{\"message\"=\"NO_ENTRY_FOUND\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/asset/{collectionId}/collectionentries/{referenceEntryId}/previous": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Get the previous entry of a collection.",
        "operationId": "getPreviousCollectionEntry",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referenceEntryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowedCountry",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "products",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "deviceType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "WEB",
                "MOBILE",
                "TABLET",
                "APPLE_TV",
                "SMART_TV",
                "CONSOLE",
                "STB"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAsset"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "Unknown business unit": {
                    "description": "Unknown business unit",
                    "value": "{\"message\"=\"UNKNOWN_BUSINESS_UNIT\"}"
                  },
                  "No previous entry found.": {
                    "description": "No previous entry found.",
                    "value": "{\"message\"=\"NO_ENTRY_FOUND\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/search/autocomplete/{query}": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Does prefix autocomplete for a query.",
        "operationId": "autocomplete",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiAutocompleteItem"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "Unknown business unit": {
                    "description": "Unknown business unit",
                    "value": "{\"message\"=\"UNKNOWN_BUSINESS_UNIT\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/search/epg/{query}": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Searches the epg for a query.",
        "operationId": "searchEpg",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "path",
            "description": "The query to search for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "The millis to get from.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "The millis to get to.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "The locale to search in.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sort parameter in the format of first,-second. Defaults to sorting by\n                       relevance.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to show per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "fieldSet",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "PARTIAL",
              "enum": [
                "NONE",
                "PARTIAL",
                "ALL"
              ]
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "description": "Comma separated list of fields to add to the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "description": "Comma separated list of fields to remove from the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "service",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEpgSearchHits"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/search/query/{query}": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Title search V1.",
        "operationId": "search",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "Comma separated list of types.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "MOVIE,TV_SHOW"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentalRatings",
            "in": "query",
            "description": "The parental rating filter in the format of COUNTRY:RATING,COUNTRY:RATING2",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "allowedCountry",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldSet",
            "in": "query",
            "description": "Field set to return.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ALL",
              "enum": [
                "NONE",
                "PARTIAL",
                "ALL"
              ]
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "description": "Comma separated list of field names to include in response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "description": "Comma separated list of field names to exclude from response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSearchList"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "Unknown business unit": {
                    "description": "Unknown business unit",
                    "value": "{\"message\"=\"UNKNOWN_BUSINESS_UNIT\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/search/suggestions/{query}": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Gets spelling suggestions for a key.",
        "operationId": "getSuggestions",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiAutocompleteItem"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "Unknown business unit": {
                    "description": "Unknown business unit",
                    "value": "{\"message\"=\"UNKNOWN_BUSINESS_UNIT\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/season": {
      "get": {
        "tags": [
          "season"
        ],
        "operationId": "getSeasons",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeEpisodes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "seasonIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentalRatings",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ParentalRatingsFilter"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "maximum": 200,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldSet",
            "in": "query",
            "description": "Field set to return.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ALL",
              "enum": [
                "NONE",
                "PARTIAL",
                "ALL"
              ]
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "description": "Comma separated list of field names to include in response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "description": "Comma separated list of field names to exclude from response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSeasonList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/season/{seasonId}": {
      "get": {
        "tags": [
          "season"
        ],
        "summary": "Get a season by id or slug.",
        "operationId": "getSeasonById",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "seasonId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeEpisodes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSeason"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "Unknown business unit": {
                    "description": "Unknown business unit",
                    "value": "{\"message\"=\"UNKNOWN_BUSINESS_UNIT\"}"
                  },
                  "Unknown season": {
                    "description": "Unknown season",
                    "value": "{\"message\"=\"UNKNOWN_SEASON\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/document": {
      "get": {
        "tags": [
          "documents"
        ],
        "summary": "Get Document.",
        "description": "Get the requested document.",
        "operationId": "getDocument",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "end_user_consent",
                "end_user_cookie_policy",
                "end_user_privacy_policy",
                "end_user_terms_and_conditions",
                "custom_document",
                "END_USER_CONSENT",
                "END_USER_COOKIE_POLICY",
                "END_USER_PRIVACY_POLICY",
                "END_USER_TERMS_AND_CONDITIONS",
                "CUSTOM_DOCUMENT"
              ]
            }
          },
          {
            "name": "customDocumentName",
            "in": "query",
            "description": "Custom name if documentId == custom_document",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "preferredLanguage",
            "in": "query",
            "description": "Use user language. If not stated system default is used.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiHtmlDocument"
                }
              }
            }
          },
          "4xx": {
            "description": "Failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "The the business unit cannot be found.": {
                    "description": "The the business unit cannot be found.",
                    "value": "{\n  \"httpCode\" : 404,\n  \"message\" : \"UNKNOWN_BUSINESS_UNIT\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/epg/{channelId}/onnow": {
      "get": {
        "tags": [
          "epg"
        ],
        "operationId": "onNow",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiChannelEPGResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/export/asset": {
      "get": {
        "tags": [
          "xport"
        ],
        "summary": "Get all assets.",
        "description": "This request is privileged and thus needs server to server authentication.",
        "operationId": "exportAssets",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetType",
            "in": "query",
            "description": "The asset type to filter by.",
            "schema": {
              "type": "string",
              "enum": [
                "MOVIE",
                "TV_SHOW",
                "EPISODE",
                "CLIP",
                "TV_CHANNEL",
                "AD",
                "LIVE_EVENT",
                "COLLECTION",
                "PODCAST",
                "PODCAST_EPISODE",
                "EVENT",
                "OTHER"
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to show per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "description": "Created time (epoch millis) to start listing from.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "EMP-Auth",
            "in": "header",
            "description": "The pre-shared API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAssetListBulk"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/location": {
      "get": {
        "tags": [
          "location"
        ],
        "summary": "Get location.",
        "description": "Get location information based on caller IP-address.",
        "operationId": "get_1",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiLocation"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/mrss/adrolls": {
      "get": {
        "tags": [
          "mrss"
        ],
        "summary": "Get AdRoll configuration",
        "description": "Retrieve AdRoll configuration for a specific business unit.",
        "operationId": "getAdRollConfig",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "description": "The tenant ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "description": "The channel ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdRollConfig"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/preferences": {
      "get": {
        "tags": [
          "preferences"
        ],
        "summary": "Get key value pair of preferences for a user.",
        "operationId": "getPreferences",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUserPreferenceResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "Unknown business unit": {
                    "description": "Unknown business unit",
                    "value": "{\"message\"=\"UNKNOWN_BUSINESS_UNIT\"}"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "preferences"
        ],
        "summary": "Set key value pair of preferences for a user.",
        "operationId": "setPreferences",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiSetUserPreferenceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreferencesResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "TOO_MANY_PREFERENCES": {
                    "description": "TOO_MANY_PREFERENCES",
                    "value": "{\"message\"=\"TOO_MANY_PREFERENCES\"}"
                  },
                  "TOO_LONG_PREFERENCES": {
                    "description": "TOO_LONG_PREFERENCES",
                    "value": "{\"message\"=\"TOO_LONG_PREFERENCES\"}"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "Unknown business unit": {
                    "description": "Unknown business unit",
                    "value": "{\"message\"=\"UNKNOWN_BUSINESS_UNIT\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/preferences/list/{list}/asset": {
      "get": {
        "tags": [
          "preferences"
        ],
        "summary": "Gets an asset list for a user.",
        "operationId": "getAssetList",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tagIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiAssetListItemResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "Unknown business unit": {
                    "description": "Unknown business unit",
                    "value": "{\"message\"=\"UNKNOWN_BUSINESS_UNIT\"}"
                  },
                  "UNKNOWN_LIST": {
                    "description": "UNKNOWN_LIST",
                    "value": "{\"message\"=\"UNKNOWN_LIST\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/preferences/list/{list}/asset/{assetId}": {
      "get": {
        "tags": [
          "preferences"
        ],
        "summary": "Gets an item from the asset list.",
        "operationId": "getFromAssetList",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAssetListItemResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "Unknown business unit": {
                    "description": "Unknown business unit",
                    "value": "{\"message\"=\"UNKNOWN_BUSINESS_UNIT\"}"
                  },
                  "UNKNOWN_LIST": {
                    "description": "UNKNOWN_LIST",
                    "value": "{\"message\"=\"UNKNOWN_LIST\"}"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "preferences"
        ],
        "summary": "Adds an item to the asset list",
        "operationId": "addToAssetList",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAssetListItemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/PreferencesResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "TOO_MANY_PREFERENCES": {
                    "description": "TOO_MANY_PREFERENCES",
                    "value": "{\"message\"=\"TOO_MANY_PREFERENCES\"}"
                  },
                  "TOO_LONG_PREFERENCES": {
                    "description": "TOO_LONG_PREFERENCES",
                    "value": "{\"message\"=\"TOO_LONG_PREFERENCES\"}"
                  },
                  "Asset not found": {
                    "description": "Asset not found",
                    "value": "{\"message\"=\"UNKNOWN_ASSET\"}"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/API Error message"
                },
                "examples": {
                  "Unknown business unit": {
                    "description": "Unknown business unit",
                    "value": "{\"message\"=\"UNKNOWN_BUSINESS_UNIT\"}"
                  },
                  "UNKNOWN_LIST": {
                    "description": "UNKNOWN_LIST",
                    "value": "{\"message\"=\"UNKNOWN_LIST\"}"
                  },
                  "Asset not found": {
                    "description": "Asset not found",
                    "value": "{\"message\"=\"UNKNOWN_ASSET\"}"
                  }
                }
              }
[...]
