{
  "openapi": "3.0.1",
  "info": {
    "title": "Exposure API Reference",
    "description": "![RedBee](https://redbee.ctl.cdn.ebsd.ericsson.net/imagescaler002/redbee/redbeetv/configimages/d04bb721-fb45-4f9e-9216-9c3a219ef322.png?format=webp&h=50)\n\n### Red Bee Media Pulse Exposure API \n\n#### Authentication\n\nMany endpoints require an `Authorization` header:\n\n`Authorization: Bearer <sessionToken> `\n\nIn the **Swagger UI**,  use the **green Authorize** function below to set the session token.\n\nThe `<sessionToken>` is acquired using one of the Login or Session creation endpoints in the [Authentication](#/Authentication) resource section.\n\nIn some endpoints an API-key is required in the `EMP-Auth` header.\n\n`EMP-Auth: Basic <keyId:keySecret>` \n\n`<keyId:keySecret>` is to be Base64Encoded\n\nAPI keys can be created using the customer portal: [https://redbee.live/portal](https://redbee.live/portal).\n\nOlder API keys can also be used in the same way as previous.\n\n#### Data formats\n\nRequest and response bodies are always JSON encoded.\n\nIn request and response bodies, dates and times are ISO 8601 encoded, e.g. `2022-02-22T22:22:22+00:00`, while in query parameters epoch millis are used.\n\n#### Customer and Business Unit\n\nMost endpoints requires `customer` and `businessUnit` in the path. You can instantiate this documentation for a specific customer and businessUnit using this8 URL:\n\n[https://exposure.api.redbee.live/docs/customer/{customer}/businessunit/{businessUnit}/](https://exposure.api.redbee.live/docs/customer/{customer}/businessunit/{businessUnit}/)\n\n#### Eventsink\n\nThe endpoints to report Player analytics events are found here: [https://eventsink.api.redbee.live/docs](https://eventsink.api.redbee.live/docs).\n\n#### Other documentation   \n\nGeneral information of the service can be found at [https://redbee.live/docs/](https://redbee.live/docs/).\n\nDeprecated but still available APIs can be found [here](https://apidocs.emp.ebsd.ericsson.net/). It may overlap to some extent with this swagger."
  },
  "servers": [
    {
      "url": "https://exposure.api.redbee.live",
      "description": "Production"
    }
  ],
  "paths": {
    "/docs/api-docs/{api}": {
      "get": {
        "tags": [
          "open api"
        ],
        "summary": "Get API definition",
        "description": "[OpenApi 3](https://www.openapis.org/) specification of this API",
        "operationId": "getApiDocs",
        "parameters": [
          {
            "name": "api",
            "in": "path",
            "description": "Select API",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "exposure",
                "management"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/config/{fileId}/origin/{host}": {
      "get": {
        "tags": [
          "customerconfig"
        ],
        "summary": "Gets a JSON configuration file.",
        "description": "Uses the host parameter to figure out the business unit.",
        "operationId": "getConfigFileCustomDomainInPath",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The file to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "host",
            "in": "path",
            "description": "The host that will be mapped to a business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentMethodPreview",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiConfigFile"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/carouselgroup": {
      "get": {
        "tags": [
          "carousel"
        ],
        "summary": "Gets all groups that have been created for this business unit.",
        "operationId": "getCarouselGroups",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/carouselgroup/{groupId}": {
      "get": {
        "tags": [
          "carousel"
        ],
        "summary": "Gets carousels.",
        "description": "A carousel is a filter on the assets. A group can be anything that is grouping the carousels,\n such as the \"index page\" etc.",
        "operationId": "getCarouselsForGroup",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentalRatings",
            "in": "query",
            "description": "The parental rating filter in the format of COUNTRY:RATING,COUNTRY:RATING2",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to show per page. This controls the number of items in each\n                              carousel, all carousels are always returned.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "fieldSet",
            "in": "query",
            "description": "The set of fields to include by default.",
            "schema": {
              "type": "string",
              "default": "PARTIAL",
              "enum": [
                "NONE",
                "PARTIAL",
                "ALL"
              ]
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "description": "Comma separated list of fields to remove from the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "description": "Comma separated list of fields to add to the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service",
            "in": "query",
            "description": "If we should only return assets that have publications on this service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "description": "If we should only return assets that are at the moment published. Default = false, of compatibility reasons",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiCarousel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/carouselgroup/{groupId}/carousel/{carouselId}": {
      "get": {
        "tags": [
          "carousel"
        ],
        "summary": "Gets a specific carousel by id.",
        "operationId": "getCarousel",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "carouselId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentalRatings",
            "in": "query",
            "description": "The parental rating filter in the format of COUNTRY:RATING,COUNTRY:RATING2",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to show per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "fieldSet",
            "in": "query",
            "description": "The set of fields to include by default.",
            "schema": {
              "type": "string",
              "default": "PARTIAL",
              "enum": [
                "NONE",
                "PARTIAL",
                "ALL"
              ]
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "description": "Comma separated list of fields to remove from the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "description": "Comma separated list of fields to add to the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service",
            "in": "query",
            "description": "If we should only return assets that have publications on this service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "description": "If we should only return assets that are at the moment published. Default = false, of compatibility reasons",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiCarousel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/config": {
      "get": {
        "tags": [
          "customerconfig"
        ],
        "summary": "Lists existing configuration files.",
        "operationId": "getConfigFiles",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiConfigFilesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/config/{fileName}": {
      "get": {
        "tags": [
          "customerconfig"
        ],
        "summary": "Gets a JSON configuration file.",
        "operationId": "getConfigFile",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "path",
            "description": "The file to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "paymentMethodPreview",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "Referer",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiConfigFile"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/asset": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Lists assets.",
        "description": "<p>\n Main endpoint for listing/searching for assets. Make sure that calls to this endpoint are called with a limited\n set of parameter permutations to allow responses to be served from a cache.",
        "operationId": "getAssets",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "DEPRECATED 2019-12-10. The authorization header in the format \"Bearer sessionToken\",\n                              needed if including user data.",
            "schema": {
              "type": "string"
            },
            "deprecated": true
          },
          {
            "name": "assetType",
            "in": "query",
            "description": "The asset type to filter by.",
            "schema": {
              "type": "string",
              "enum": [
                "MOVIE",
                "TV_SHOW",
                "EPISODE",
                "CLIP",
                "TV_CHANNEL",
                "AD",
                "LIVE_EVENT",
                "COLLECTION",
                "PODCAST",
                "PODCAST_EPISODE",
                "EVENT",
                "OTHER"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sort parameter in the format of first,-second.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "The optional query to filter by. In the elasticsearch query string query format,\n                              I.E: \"tags.genres:action AND localized.en-us.title:armageddon\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetIds",
            "in": "query",
            "description": "The asset ids to filter by.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "parentalRatings",
            "in": "query",
            "description": "The parental rating filter in the format of COUNTRY:RATING,COUNTRY:RATING2",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to show per page. Note that pageNumber * pageSize cannot exceed\n                              10000 or an error will occur.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number. Note that pageNumber * pageSize cannot exceed 10000 or an error\n                              will occur.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "fieldSet",
            "in": "query",
            "description": "The set of fields to include by default.",
            "schema": {
              "type": "string",
              "default": "PARTIAL",
              "enum": [
                "NONE",
                "PARTIAL",
                "ALL"
              ]
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "description": "Comma separated list of fields to remove from the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "description": "Comma separated list of fields to add to the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "description": "If we should only return assets that are at the moment published",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "playableWithinHours",
            "in": "query",
            "description": "Only return assets that are playable (has a publication.from) earlier than from\n                              now+X hours and are published at the moment.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "service",
            "in": "query",
            "description": "If we should only return assets that have publications on this service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowedCountry",
            "in": "query",
            "description": "If we should only return assets that are not geo blocking in this country",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deviceType",
            "in": "query",
            "description": "If we should only return assets that are allowed to play on this device",
            "schema": {
              "type": "string",
              "enum": [
                "WEB",
                "MOBILE",
                "TABLET",
                "APPLE_TV",
                "SMART_TV",
                "CONSOLE",
                "STB"
              ]
            }
          },
          {
            "name": "deviceQuery",
            "in": "query",
            "description": "The optional query to filter by in fields nested under publications.devices. In the\n                              elasticsearch query string query format,\n                              I.E: \"publications.devices.rights.threeGBlocked:false AND\n                              publications.devices.os:IOS\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publicationQuery",
            "in": "query",
            "description": "The optional query to filter by in fields nested under publications except\n                              publications.devices. In the elasticsearch query string query format,\n                              I.E: \"publications.rights.wifiBlocked:true\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "products",
            "in": "query",
            "description": "If we should only return assets that have publications on any of these products",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "missingFieldsFilter",
            "in": "query",
            "description": "Will only return assets that has an empty value in the field specified in this field",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeTvShow",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "programsOnChannelIds",
            "in": "query",
            "description": "Only return assets that if they have programs, only have programs on provided channel ids. Comma separated list.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAssetList"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_QUERY. If the free text query is not a valid elasticsearch query string query.<br>Result window is too large. If the pageSize times the pageNumber is greater than 10000.",
            "content": {}
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/asset/{assetId}": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Gets an asset by asset id.",
        "operationId": "getAsset",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "description": "The id of the asset. Slugs supported.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "DEPRECATED 2019-12-10. The authorization header in the format \"Bearer sessionToken\",\n                        needed if including user data.",
            "schema": {
              "type": "string"
            },
            "deprecated": true
          },
          {
            "name": "includeEpisodes",
            "in": "query",
            "description": "Set to true to include episodes for the asset in the response. Only applicable if the\n                        asset is a tv show. Setting this to true will cause seasons to be includeSeasons true.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeSeasons",
            "in": "query",
            "description": "Set to true to include seasons for the asset in the response. Only applicable if the\n                        asset is a tv show.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fieldSet",
            "in": "query",
            "description": "The set of fields to include by default.",
            "schema": {
              "type": "string",
              "default": "ALL",
              "enum": [
                "NONE",
                "PARTIAL",
                "ALL"
              ]
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "description": "Comma separated list of fields to remove from the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "description": "Comma separated list of fields to add to the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "allowedCountry",
            "in": "query",
            "description": "Filter results on if the asset (or episodes) are published in the country specified by this parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentalRatings",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAsset"
                }
              }
            }
          },
          "404": {
            "description": "UNKNOWN_ASSET. If the asset cannot be found.",
            "content": {}
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/asset/{assetId}/collectionentries": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Gets the entries of a collection.",
        "operationId": "getCollectionEntries",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "description": "The id of the collection. Slugs supported.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldSet",
            "in": "query",
            "description": "The set of fields to include by default.",
            "schema": {
              "type": "string",
              "default": "PARTIAL",
              "enum": [
                "NONE",
                "PARTIAL",
                "ALL"
              ]
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "description": "Comma separated list of fields to remove from the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "description": "Comma separated list of fields to add to the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to show per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "service",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort entries by the sort order parameter on the collection reference. Sort parameter is the\n                       tiebreaker.",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order. Used as tiebreaker if naturalSortOrder is specified.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAssetList"
                }
              }
            }
          },
          "404": {
            "description": "UNKNOWN_SEASON. If the season is not found.",
            "content": {}
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/asset/{assetId}/next": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Gets the next episode relative to an episode.",
        "operationId": "getNextEpisode",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "description": "The id of the current episode.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "DEPRECATED 2019-12-10. The authorization header in the format \"Bearer sessionToken\",\n                       needed if including user data.",
            "schema": {
              "type": "string"
            },
            "deprecated": true
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAsset"
                }
              }
            }
          },
          "404": {
            "description": "NO_EPISODE_FOUND. If the provided episode does not exist,\n or if there is no next episode available.",
            "content": {}
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/asset/{assetId}/previous": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Gets the previous episode relative to an episode.",
        "operationId": "getPreviousEpisode",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "description": "The id of the current episode.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAsset"
                }
              }
            }
          },
          "404": {
            "description": "NO_EPISODE_FOUND. If the provided episode does not exist or if there is no previous episode\n available.",
            "content": {}
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/asset/{assetId}/season": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Gets seasons for an asset.",
        "operationId": "getSeasonsForTvShow",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "description": "The id of the asset. Slugs supported.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "DEPRECATED 2019-12-10. The authorization header in the format \"Bearer sessionToken\",\n                       needed if including user data.",
            "schema": {
              "type": "string"
            },
            "deprecated": true
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeEpisodes",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fieldSet",
            "in": "query",
            "description": "The set of fields to include by default.",
            "schema": {
              "type": "string",
              "default": "PARTIAL",
              "enum": [
                "NONE",
                "PARTIAL",
                "ALL"
              ]
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "description": "Comma separated list of fields to remove from the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "description": "Comma separated list of fields to add to the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "service",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSeasonList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/asset/{assetId}/season/{season}": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Gets a specific season.",
        "operationId": "getSeason",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "description": "The id of the tv show. Slugs supported.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season",
            "in": "path",
            "description": "An integer season number.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "DEPRECATED 2019-12-10. The authorization header in the format \"Bearer sessionToken\",\n                       needed if including user data.",
            "schema": {
              "type": "string"
            },
            "deprecated": true
          },
          {
            "name": "fieldSet",
            "in": "query",
            "description": "The set of fields to include by default.",
            "schema": {
              "type": "string",
              "default": "ALL",
              "enum": [
                "NONE",
                "PARTIAL",
                "ALL"
              ]
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "description": "Comma separated list of fields to remove from the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "description": "Comma separated list of fields to add to the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "service",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSeason"
                }
              }
            }
          },
          "404": {
            "description": "UNKNOWN_SEASON. If the season is not found.",
            "content": {}
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/asset/{assetId}/season/{season}/episode": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Gets episodes for a season.",
        "operationId": "getEpisodes",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "description": "The id of the tv show. Slugs supported.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season",
            "in": "path",
            "description": "An integer season number.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "DEPRECATED 2019-12-10. The authorization header in the format \"Bearer sessionToken\",\n                       needed if including user data.",
            "schema": {
              "type": "string"
            },
            "deprecated": true
          },
          {
            "name": "fieldSet",
            "in": "query",
            "description": "The set of fields to include by default.",
            "schema": {
              "type": "string",
              "default": "PARTIAL",
              "enum": [
                "NONE",
                "PARTIAL",
                "ALL"
              ]
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "description": "Comma separated list of fields to remove from the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "description": "Comma separated list of fields to add to the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to show per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "service",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAssetList"
                }
              }
            }
          },
          "404": {
            "description": "UNKNOWN_SEASON. If the season is not found.",
            "content": {}
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/asset/{assetId}/thumbnail": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Get a thumbnail for an asset.",
        "description": "The thumbnail will be generated from the video belonging to the asset and based on\n provided time.\n This endpoint will always return a 307 redirect to another url where the thumbnail is actually available.",
        "operationId": "getAssetThumbnail",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "description": "The id of the asset.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "The time to use when creating the thumbnail. It can have two different formats. It can be\n                     a wall clock time like '2021-02-02T10:53:35.400Z'. This assumes that the\n                     asset has a wall clock time. It can also be a duration, like PT30M20S, and\n                     then it will be used as an actual time in th video.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "w",
            "in": "query",
            "description": "An optional width.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "h",
            "in": "query",
            "description": "An optional height",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "INVALID_TIME_DURATION. The provided time is not a valid duration.<br>INVALID_TIME_WALL_CLOCK. The provided time is not a valid wall clock time.",
            "content": {}
          },
          "404": {
            "description": "UNKNOWN_ASSET. If the asset cannot be found.",
            "content": {}
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/asset/{collectionId}/collectionentries/{referenceEntryId}/next": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Gets the next entry of a collection.",
        "operationId": "getNextCollectionEntry",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "The id of the collection.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referenceEntryId",
            "in": "path",
            "description": "The id of reference collection entry.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAsset"
                }
              }
            }
          },
          "404": {
            "description": "NO_ENTRY_FOUND. If the provided episode does not exist,\n or if there is no next episode available.",
            "content": {}
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/asset/{collectionId}/collectionentries/{referenceEntryId}/previous": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Gets the previous entry of a collection.",
        "operationId": "getPreviousCollectionEntry",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collectionId",
            "in": "path",
            "description": "The id of the collection.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referenceEntryId",
            "in": "path",
            "description": "The id of reference collection entry.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAsset"
                }
              }
            }
          },
          "404": {
            "description": "NO_ENTRY_FOUND. If the provided episode does not exist,\n or if there is no next episode available.",
            "content": {}
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/search/autocomplete/{query}": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Does prefix autocomplete for a query.",
        "operationId": "autocomplete",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "path",
            "description": "The query to autocomplete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "The locale to autocomplete in.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiAutocompleteItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/search/epg/{query}": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Searches the epg for a query.",
        "operationId": "searchEpg",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "path",
            "description": "The query to search for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "The millis to get from.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "The millis to get to.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "The locale to search in.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sort parameter in the format of first,-second. Defaults to sorting by\n                       relevance.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to show per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "fieldSet",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "PARTIAL",
              "enum": [
                "NONE",
                "PARTIAL",
                "ALL"
              ]
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "description": "Comma separated list of fields to add to the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "description": "Comma separated list of fields to remove from the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "service",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEpgSearchHits"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/search/query/{query}": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Searches for a query.",
        "operationId": "search",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "path",
            "description": "The query to search for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "The locale to search in.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "The comma separates list of types to search in.",
            "schema": {
              "type": "string",
              "default": "MOVIE,TV_SHOW"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sort parameter in the format of first,-second. Defaults to sorting by\n                              relevance.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentalRatings",
            "in": "query",
            "description": "The parental rating filter in the format of COUNTRY:RATING,COUNTRY:RATING2",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to show per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "fieldSet",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "NONE",
                "PARTIAL",
                "ALL"
              ]
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "description": "Comma separated list of fields to add to the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "description": "Comma separated list of fields to remove from the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "allowedCountry",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSearchList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/search/suggestions/{query}": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Gets spelling suggestions for a key.",
        "operationId": "getSuggestions",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "path",
            "description": "The query to autocomplete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "The locale to autocomplete in.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiAutocompleteItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/season": {
      "get": {
        "tags": [
          "season"
        ],
        "summary": "Lists seasons",
        "operationId": "getSeasons",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "DEPRECATED 2019-12-10. The authorization header in the format \"Bearer sessionToken\", needed if including user data.",
            "schema": {
              "type": "string"
            },
            "deprecated": true
          },
          {
            "name": "includeEpisodes",
            "in": "query",
            "description": "Set to true to include episodes for the seasons in the response.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "seasonIds",
            "in": "query",
            "description": "The season ids to filter by.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sort parameter in the format of first,-second.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentalRatings",
            "in": "query",
            "description": "The parental rating filter in the format of COUNTRY:RATING,COUNTRY:RATING2.\n                              Currently This only applies to the episodes if includeEpisodes=true. If\n                              includeEpisodes = false, then this has no effect.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to show per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "fieldSet",
            "in": "query",
            "description": "The set of fields to include by default.",
            "schema": {
              "type": "string",
              "default": "ALL",
              "enum": [
                "NONE",
                "PARTIAL",
                "ALL"
              ]
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "description": "Comma separated list of fields to remove from the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "description": "Comma separated list of fields to add to the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "service",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSeasonList"
                }
              }
            }
          },
          "404": {
            "description": "UNKNOWN_SEASON. If the season is not found.",
            "content": {}
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/content/season/{seasonId}": {
      "get": {
        "tags": [
          "season"
        ],
        "summary": "Gets a specific season by id.",
        "operationId": "getSeasonById",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "seasonId",
            "in": "path",
            "description": "The id of the season. Slugs supported.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "DEPRECATED 2019-12-10. The authorization header in the format \"Bearer sessionToken\", needed if including user data.",
            "schema": {
              "type": "string"
            },
            "deprecated": true
          },
          {
            "name": "includeEpisodes",
            "in": "query",
            "description": "Set to true to include episodes for the season in the response.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fieldSet",
            "in": "query",
            "description": "The set of fields to include by default.",
            "schema": {
              "type": "string",
              "default": "ALL",
              "enum": [
                "NONE",
                "PARTIAL",
                "ALL"
              ]
            }
          },
          {
            "name": "excludeFields",
            "in": "query",
            "description": "Comma separated list of fields to remove from the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeFields",
            "in": "query",
            "description": "Comma separated list of fields to add to the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "service",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSeason"
                }
              }
            }
          },
          "404": {
            "description": "UNKNOWN_SEASON. If the season is not found.",
            "content": {}
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/document": {
      "get": {
        "tags": [
          "document"
        ],
        "summary": "Gets document.",
        "operationId": "getDocument",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "query",
            "description": "Which document to fetch",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "end_user_consent",
                "end_user_cookie_policy",
                "end_user_privacy_policy",
                "end_user_terms_and_conditions",
                "custom_document",
                "END_USER_CONSENT",
                "END_USER_COOKIE_POLICY",
                "END_USER_PRIVACY_POLICY",
                "END_USER_TERMS_AND_CONDITIONS",
                "CUSTOM_DOCUMENT"
              ]
            }
          },
          {
            "name": "customDocumentName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "preferredLanguage",
            "in": "query",
            "description": "ISO 639-1 language code. If not stated or not supported fall back to other languages will be performed.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiHtmlDocument"
                }
              }
            }
          },
          "404": {
            "description": "UNKNOWN_BUSINESS_UNIT. If the business unit is not found.",
            "content": {}
          },
          "422": {
            "description": "BAD_DOCUMENT_ID. Unrecognized documentId.<br>UNKNOWN_LANGUAGE. Unrecognized documentId.",
            "content": {}
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/export/asset": {
      "get": {
        "tags": [
          "xport"
        ],
        "summary": "Get all assets.",
        "description": "This request is privileged and thus needs server to server authentication.",
        "operationId": "exportAssets",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetType",
            "in": "query",
            "description": "The asset type to filter by.",
            "schema": {
              "type": "string",
              "enum": [
                "MOVIE",
                "TV_SHOW",
                "EPISODE",
                "CLIP",
                "TV_CHANNEL",
                "AD",
                "LIVE_EVENT",
                "COLLECTION",
                "PODCAST",
                "PODCAST_EPISODE",
                "EVENT",
                "OTHER"
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to show per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "description": "Created time (epoch millis) to start listing from.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "EMP-Auth",
            "in": "header",
            "description": "The pre-shared API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAssetListBulk"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/location": {
      "get": {
        "tags": [
          "location"
        ],
        "summary": "Get location.",
        "description": "Get location information based on caller IP-address.",
        "operationId": "get",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "exampleSetFlag": false
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "exampleSetFlag": false
            }
          },
          {
            "name": "Referer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "exampleSetFlag": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiLocation"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/preferences": {
      "get": {
        "tags": [
          "preferences"
        ],
        "summary": "Gets key value pair of preferences for a user.",
        "operationId": "getPreferences",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUserPreferenceResponse"
                }
              }
            }
          },
          "401": {
            "description": "NO_SESSION_TOKEN. If the session token is missing.<br>INVALID_SESSION_TOKEN. If the session token is provided but not valid.",
            "content": {}
          },
          "404": {
            "description": "UNKNOWN_BUSINESS_UNIT. If the business unit is not found.",
            "content": {}
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      },
      "post": {
        "tags": [
          "preferences"
        ],
        "summary": "Set key value pair of preferences for a user.",
        "operationId": "setPreferences",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Json body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiSetUserPreferenceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "NO_SESSION_TOKEN. If the session token is missing.<br>INVALID_SESSION_TOKEN. If the session token is provided but not valid.",
            "content": {}
          },
          "403": {
            "description": "TOO_MANY_PREFERENCES. If the body exceed the configured max number of preferences.<br>TOO_LONG_PREFERENCES. If any item in the body is longer than the max configured length.",
            "content": {}
          },
          "404": {
            "description": "UNKNOWN_BUSINESS_UNIT. If the business unit is not found.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "request",
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/preferences/list/{list}/asset": {
      "get": {
        "tags": [
          "preferences"
        ],
        "summary": "Gets an asset list for a user.",
        "operationId": "getAssetList",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list",
            "in": "path",
            "description": "The name of the list.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of assets to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tagIds",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "service",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiAssetListItemResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "NO_SESSION_TOKEN. If the session token is missing.<br>INVALID_SESSION_TOKEN. If the session token is provided but not valid.",
            "content": {}
          },
          "404": {
            "description": "UNKNOWN_BUSINESS_UNIT. If the business unit is not found.<br>UNKNOWN_LIST. If the list is not configured.",
            "content": {}
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/preferences/list/{list}/asset/{assetId}": {
      "get": {
        "tags": [
          "preferences"
        ],
        "summary": "Gets an item from the asset list.",
        "operationId": "getFromAssetList",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list",
            "in": "path",
            "description": "The name of the list.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAssetListItemResponse"
                }
              }
            }
          },
          "401": {
            "description": "NO_SESSION_TOKEN. If the session token is missing.<br>INVALID_SESSION_TOKEN. If the session token is provided but not valid.",
            "content": {}
          },
          "404": {
            "description": "UNKNOWN_BUSINESS_UNIT. If the business unit is not found.<br>UNKNOWN_LIST. If the list is not configured.",
            "content": {}
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      },
      "post": {
        "tags": [
          "preferences"
        ],
        "summary": "Adds an item to the asset list.",
        "operationId": "addToAssetList",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list",
            "in": "path",
            "description": "The name of the list.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAssetListItemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "NO_SESSION_TOKEN. If the session token is missing.<br>INVALID_SESSION_TOKEN. If the session token is provided but not valid.",
            "content": {}
          },
          "403": {
            "description": "TOO_MANY_PREFERENCES. If the body exceed the configured max number of preferences.<br>TOO_LONG_PREFERENCES. If any item in the body is longer than the max configured length.",
            "content": {}
          },
          "404": {
            "description": "UNKNOWN_BUSINESS_UNIT. If the business unit is not found.<br>UNKNOWN_LIST. If the list is not configured.<br>UNKNOWN_ASSET. If the asset is not found.",
            "content": {}
          },
          "409": {
            "description": "LIMIT_REACHED. If the maximum number of items in the list have been reached.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "request",
        "security": [
          {
            "bearer-key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "preferences"
        ],
        "summary": "Deletes an item from the asset list.",
        "operationId": "deleteFromAssetList",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list",
            "in": "path",
            "description": "The name of the list.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "NO_SESSION_TOKEN. If the session token is missing.<br>INVALID_SESSION_TOKEN. If the session token is provided but not valid.",
            "content": {}
          },
          "404": {
            "description": "UNKNOWN_BUSINESS_UNIT. If the business unit is not found.<br>UNKNOWN_LIST. If the list is not configured.",
            "content": {}
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/preferences/list/{list}/tag": {
      "get": {
        "tags": [
          "preferences"
        ],
        "summary": "Gets a list for a user.",
        "operationId": "getList",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list",
            "in": "path",
            "description": "The name of the list.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiPreferencesListResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "NO_SESSION_TOKEN. If the session token is missing.<br>INVALID_SESSION_TOKEN. If the session token is provided but not valid.",
            "content": {}
          },
          "404": {
            "description": "UNKNOWN_BUSINESS_UNIT. If the business unit is not found.<br>UNKNOWN_LIST. If the list is not configured.",
            "content": {}
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/preferences/list/{list}/tag/{id}": {
      "post": {
        "tags": [
          "preferences"
        ],
        "summary": "Adds an item to a list.",
        "operationId": "addToList",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list",
            "in": "path",
            "description": "The name of the list.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The list item id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAssetListItemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "NO_SESSION_TOKEN. If the session token is missing.<br>INVALID_SESSION_TOKEN. If the session token is provided but not valid.",
            "content": {}
          },
          "403": {
            "description": "TOO_MANY_PREFERENCES. If the body exceed the configured max number of preferences.<br>TOO_LONG_PREFERENCES. If any item in the body is longer than the max configured length.",
            "content": {}
          },
          "404": {
            "description": "UNKNOWN_BUSINESS_UNIT. If the business unit is not found.<br>UNKNOWN_LIST. If the list is not configured.",
            "content": {}
          },
          "409": {
            "description": "LIMIT_REACHED. If the maximum number of items in the list have been reached.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "request",
        "security": [
          {
            "bearer-key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "preferences"
        ],
        "summary": "Deletes an item from a list.",
        "operationId": "deleteFromList",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list",
            "in": "path",
            "description": "The name of the list.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the item",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json;charset=utf-8": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "NO_SESSION_TOKEN. If the session token is missing.<br>INVALID_SESSION_TOKEN. If the session token is provided but not valid.",
            "content": {}
          },
          "404": {
            "description": "UNKNOWN_BUSINESS_UNIT. If the business unit is not found.<br>UNKNOWN_LIST. If the list is not configured.",
            "content": {}
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/v1/customer/{customer}/businessunit/{businessUnit}/tag": {
      "get": {
        "tags": [
          "tag"
        ],
        "summary": "Lists all tags.",
        "operationId": "listTags",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The customer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessUnit",
            "in": "path",
            "description": "The business unit.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scheme",
            "in": "query",
            "description": "The scheme of the tags.",
            "schema": {
              "type": "string"
[...]
